<div class="aside-content">
    <h2>Aside L</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis ipsa a hic perspiciatis eligendi
        odit voluptate fuga rem excepturi!</p>
    </br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis ipsa a hic perspiciatis eligendi
        odit voluptate fuga rem excepturi!</p>
    </br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis ipsa a hic perspiciatis eligendi
        odit voluptate fuga rem excepturi!</p>
</div>